// color palette - these colors will be the color swatches of the Colors section

$color-1: #66fcf1; // Teal/Aqua
$color-2: #0b0c10; // Black
$color-3: #45a29e; // Dark teal
$color-4: #c5c6c7; // light grey
$color-5: #ffffff; // white