//Layout for body text

.supporting {
    & > div {
      margin-top: 2rem;
      h3 {
        border: 3px solid $color-3;
        background-color: #45a29d2a;
        padding: 1rem;
        margin-bottom: 2rem;
        margin-left: 0.75rem;
        margin-right: 1rem;
        position: relative;
  
        &:before {
          content: "";
          position: absolute;
          border-left: 3px solid $color-3;
          border-top: 3px solid $color-3;
          width: 1rem;
          height: 1rem;
          animation: slide-in-left-r 0.3s forwards;
        }
  
        &:after {
          content: "";
          position: absolute;
          border-right: 3px solid $color-3;
          border-bottom: 3px solid $color-3;
          width: 1rem;
          height: 1rem;
          animation: slide-in-right-r 0.3s forwards;
        }
  
        &:hover::before {
          animation: slide-in-left 0.3s forwards;
        }
  
        &:hover::after {
          animation: slide-in-right 0.3s forwards;
        }
      }
  
      p {
        padding: 0 1rem;
        margin: 0.75rem 0;
      }
    }
  }
  