@import url("https://fonts.googleapis.com/css2?family=Inter&family=JetBrains+Mono:wght@500;700;800&family=Montserrat:wght@900&display=swap");

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

// ------------------------------------

// Three fonts
$primary-font: "Inter", sans-serif;
$secondary-font: "JetBrains Mono", monospace;
$display-title: "Montserrat", sans-serif;

// color palette - these colors will be the color swatches of the Colors section

$color-1: #66fcf1; // Teal/Aqua
$color-2: #0b0c10; // Black
$color-3: #45a29e; // Dark teal
$color-4: #c5c6c7; // light grey
$color-5: #ffffff; // white

:root {
  font-size: 14px;
  color: $color-1;
}

body {
  font-family: $primary-font;
  position: relative;
  background-color: $color-2;
}

h1 {
  font-family: $display-title;
  -webkit-text-fill-color: #00000028;
  -webkit-text-stroke-width: .2rem;
  -webkit-text-stroke-color: $color-1;
  text-shadow: 5px 5px 130px #0ff;
  //box-shadow: 2px 2px 10px 1px #0ff;
  //padding: 1rem;
}

h2,
h3 {
  font-family: $secondary-font;
}

/* --------------- HERO SECTION ----------------- */

body {
  padding: 0.85rem;
}

p {
  line-height: 1.3;
}

#zen-intro {
  display: flex;
  flex-direction: column;

  & > * {
    padding: 1rem;
  }

  header {
    display: flex;
    flex-direction: column;
    margin-top: 6rem;

    h1 {
      font-size: 3rem;
      font-weight: 700;
      order: 1;
      margin-bottom: 3rem;
    }

    h2 {
      font-size: 0.85rem;
      font-weight: 800;
      order: 0;
      margin-bottom: 1rem;
    }
  }

  #zen-summary {
    margin-bottom: 3rem;

    & p:first-of-type {
      margin-bottom: 1rem;
    }
  }

  #zen-preamble {
    border: 1px solid $color-3;

    h3 {
      font-size: 1.2rem;
      margin-bottom: 1rem;
    }

    & > p {
      margin: 0.75rem 0;
    }
  }
}

#zen-supporting {
  & > div {
    margin-top: 2rem;
    h3 {
      border: 3px solid $color-3;
      background-color: #45a29d2a;
      padding: 1rem;
      margin-bottom: 1rem;
    }
    p {
      padding: 0 1rem;
      margin: 0.75rem 0;
    }
  }
}

.sidebar {
  margin-bottom: 8rem;
  .wrapper {
    div {
      border: .6rem solid $color-1;
      background-color: #45a29d34;
      margin: 2rem 0 5rem 0;
      padding: 1rem;

      h3 {
        font-size: 1.2rem;
        margin-bottom: 1rem;
      }

      li {
        //background-color: #ff00f24f;
        //padding: 1rem;
        //border-radius: 3px;
        margin: 1rem 0;
        a {
          text-decoration: none;
          //color: #ff9b9b; 
        }
      }
    }
  }
}

/*This piece of code illuminates the asides*/
.design-selection, .design-archives, .zen-resources {
  box-shadow: 2px 2px 20px 0px #0ff;
}

/*----------------------------------------------------------
 *Tried to do the shape for the asides, but for some reason
 *it's not working.
 ----------------------------------------------------------*/

// .wrapper::before {
//   border-left: 1px solid $color-1;
//   border-right: 1px solid $color-1;
//   border-top: 1px solid $color-1;
//   content: "jelo";
//   height: 0;
//   left: 0;
//   //position: absolute;
//   top: -100px;
// }

[role="contentinfo"] {
  position: absolute;
  bottom: 30px;
  left: 0;
}

footer {
  position: absolute;
  bottom: 0;
}

@media (min-width: 700px) {
  :root {
    font-size: 16px;
  }

  body {
    padding: 1rem 2rem;
  }

  [role="contentinfo"] {
    position: absolute;
    bottom: 30px;
    left: 1rem;
  }
}

@media (min-width: 1000px) {
  .page-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

    #zen-intro {
      grid-column: 1 / -1;
    }

    #zen-supporting {
      grid-column: 1 / 3;
      padding-right: 6rem;
      margin-bottom: 5rem;

      h3 {
        max-width: 35ex;
      }
    }
  }

  [role="contentinfo"] {
    left: 2rem;
    max-width: 35ex;
  }

  footer {
    left: 3rem;
  }
}

@media (min-width: 1200px) {
  body {
    padding: 0 15rem;
  }

  #zen-intro {
    //border: 1px solid $color-3;
    //margin-top: 4rem;
    //margin-bottom: 4rem;
    header {
      h2 {
        margin-right: auto;
      }

      h1 {
        margin: 5rem auto;
        font-size: 6rem;
        text-align: center;
      }
    }

    #zen-summary {
      margin-left: auto;
      max-width: 55ex;
    }
  }

  [role="contentinfo"] {
    left: 15rem;
    max-width: 55ex;
  }

  footer {
    left: 16rem;
  }
}
